<h1>Appointment</h1>

Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
Patient Name: <%= @appointment.patient.name %>
Appointment Time: <%= @appointment.appointment_datetime.strftime('%B %d, %Y at %H:%M') %>
